<h1>Enter new Call</h1>
    <form>
        <table>
            <tr><td>Name of Caller:</td> <td><input type="text"></td></tr>
            <tr><td> Caller Phone Number:</td><td><input type="text"></td></tr>
            <tr><td> Caller Location:</td><td><input type="text"></td></tr>
            <tr><td> </td>Patient's Name:<td><input type="text"></td></tr>
            <tr><td>MRN:</td><td><input type="text"></td></tr>
            <tr><td>Visit Type:</td>
                <td>
                  <select>
                    <option>Inpatient</option>
                    <option>Outpatient</option>
                    <option>ER</option>
                    <option>Referred In</option>
                  </select>

            </tr>
            <tr><td>Patient Location:</td>
            <tr><td>Call Started:</td><td></tr>
            <tr><td>Site:</td><td></tr>
            <tr><td>Type of Inquiry:</td>
                <td>
                  <select>
                    <option>Add-on</option>
                    <option>Critical</option>
                    <option>Other</option>
                    <option>Query</option>
                    <option>Reroute</option>
                    <option>Transfer</option>
                  </select>
                </tr>
            <tr><td>Call Route:</td>
                <td>
                  <select>
                    <option>Direct Call</option>
                    <option>Pager</option>
                    <option>Transfer</option>
                    <option>Voice Mail</option>
                  </select>
            </tr>
            <tr><td>Assigned to:</td><td></tr>
            <tr><td>Status:</td><td></tr>
            <tr><td>No. of calls</td>
                <td>
                  <select>
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5+</option>
                 </tr>

                  </select>

                </tr>


</form>
<!--

Description:

Resolution: -->