<!DOCTYPE html>
<html>
<head>
  <title>Logbook</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div class="container">
      <nav>
        <li>Enter new call</li>
        <li>View open calls</li>
        <li>Search Calls</li>
        <li>Other</li>
      </nav>



    </div>


<%= yield %>

</body>
</html>
